h1{
    text-align: center;
    font-size: 36px;
    color: #333;
    padding: 10px;
    background-color: #a8818127;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family:'Great Vibes', cursive;
  }
  body{
    background-image: url(contato.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }
  
  nav ul li a:hover {
    background-color: #333;
    color: #fff;
  }
  h2 {
    position: relative;
    padding-bottom: 10px;
  }
  
  h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid rgb(0, 0, 0);
  }
  a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ff6f00;
  }
  img.email{
    
    width: 50px;
  }
  img.instagram{
    width: 50px;
  }
  img.linkedin{
    width: 50px;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  